{% extends "base.html" %}

{% block title %}bookmark_form.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/form.css" %}{% endblock %}

{% block content %}
<div id="content">
    {# {{ user }}변수는 로그인한 User 객체를 의미 #}
    <h1>Bookmark Create/Update - {{ user }}</h1>
    {# 레코드 생성 폼을 출력. 폼을 제출하는 경우, POST 방식으로 현재와 동일한 URL로 요청이 전송. #}
    {# CSRF 공격을 방지하기 위해 {% csrf_token %} 태그를 사용 #}
    <form action="." method="post">{% csrf_token %}
    {% if form.errors %}
        <p class="errornote">Wrong! Please correct the error(s) below.</p>
        {% endif %}

        <p>This is a creation or update form for your bookmark.</p>

        <fieldset class="aligned">

            <div class="form-row">
                {{ form.title.label_tag }} {{ form.title }}
            </div>

            <div class="form-row">
                {{ form.url.label_tag }} {{ form.url }}
            </div>

        </fieldset>

        <div class="submit-row">
            <input type="submit" value="Submit"/>
        </div>

        <script type="text/javascript">document.getElementById('id_title').focus();</script>
    </form>
</div>
{% endblock %}