{# base.html 템플릿 파일을 상속받습니다. {% extends %} 템플릿 태그는 반드시 첫 줄에 와야 합니다. #}
{% extends "base.html" %}

{# title 블록을 재정의 합니다. 페이지의 제목을 album_detail.html로 지정했습니다. #}
{% block title %}album_detail.html{% endblock %}

{# {% static %} 커스텀 태그를 사용하기 위해 staticfiles 모듈을 로딩합니다. #}
{% load staticfiles %}

{# photo/photo.css 스타일시트 파일을 사용합니다. #}
{% block extrastyle %}{% static "photo/photo.css" %}{% endblock %}

{# content 블록을 재정의합니다. #}
{% block content %}
<div id="content">

    {# 앨범 객체의 name과 description 속성을 inline 기능에 의해 한 줄에 출력합니다. #}
    {# name 속성은 h2 폰트 크기로 출력하고, 또한 URL 링크를 연결합니다. #}
    <h2 style="display:inline">{{ object.name }}</h2>
    &emsp;<b><i>{{ object.description }}</i></b>

    <hr/>

    <div class="album-detail">

        {# item.photo_set.all 표현식은 특정 앨범 객체에 들어 있는 모든 사진 객체로 구성된 리스트를 의미합니다. #}
        {# 이 리스트에 들어 있는 각 사진 객체를 순회하면서 다음 줄을 처리합니다. #}
        {% for photo in object.photo_set.all %}
        <div class="album-detail-photo">

            {# 썸네일 사진에 URL 링크를 연결, URL 링크는 객체의 get_absolute_url() 메소드를 호출해 구하는데 '/photo/photo/숫자' 의 형식이됩니다. #}
            <a href="{{ photo.get_absolute_url }}">

                {# thumbnail 클래스는 photo.css에 정의되어 있습니다. 썸네일 사진에 대한 스타일을 지정합니다. #}
                {# photo.image 컬럼은 ThumbnailImageField 필드로서 사진 원본 및 썸네일 정보를 저장합니다. #}
                {# photo.image.thumb_url은 썸네일 사진의 URL, photo.image.url은 사진의 URL #}
                <img class="thumbnail" src="{{ photo.image.thumb_url }}" />
            </a>
            {# 특정 앨범에 들어 있는 사진의 타이틀을 출력합니다. #}
            <li>{{ photo.title }}</li>
            {# 특정 앨범에 들어 있는 사진의 업로드 날짜를 출력합니다. 날짜는 2015-08-01 형식입니다. #}
            <li>{{ photo.upload_date|date:"Y-m-d" }}</li>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}