{% extends "base.html" %}

{% block title %}photo_form.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}

{% block content %}
<div id="content">

    <h1>Photo Create/Update - {{user}}</h1>

    {% comment %}
    is_multipart() 메소드는 폼을 미리 체크해 multipart 인코딩이 필요한지 여부를 알려줍니다. 반환값이 True이면
    enctype="multipart/form-data"로 지정해야 합니다. 이 예제에서는 이미지 필드가 있으므로 True를 반환합니다.
    {% endcomment %}
    {% if form.is_multipart %}
    <form enctype="multipart/form-data" method="post" action=".">
    {% else %}
    <form method="post" action=".">
    {% endif %}
    {% csrf_token %}

    {% if form.errors %}
    <p class="errornote">Wrong! Please correct the error(s) below.</p>
    {% endif %}

    <p>This is a creation or update form for your photo.</p>

    <fieldset class="aligned">

        <div class="form-row">
            {{ form.image.label_tag }} {{ form.image }}
        </div>

        <div class="form-row">
            {% comment %}
            앨범을 선택하는 드롭다운 박스 위젯이 출력됩니다. 이는 Album과 Photo 테이블이 1:N 관계이므로 Photo 테이블에
            대한 폼인데도 Album 테이블의 레코드를 선택할 수 있도록 해줍니다.
            {% endcomment %}
            {{ form.album.label_tag }} {{ form.album }}
            {% comment %}
            사진 레코드를 생성하는 폼이지만 사진이 소속될 앨범을 새로 생성할 수도 있습니다. 이를 위해 Add Album 문구를 출력하고
            이 문구에 /photo/album/add/ URL을 링크합니다.
            {% endcomment %}
            <button type="button"><a href="{% url 'photo:album_add' %}">Add Album</a></button>
        </div>

        <div class="form-row">
            {{ form.title.label_tag }} {{ form.title }}
        </div>

        <div class="form-row">
            {{ form.description.label_tag }} {{ form.description }}
        </div>

    </fieldset>

    <div class="submit-row">
        <input type="submit" value="Submit"/>
    </div>

    <script type="text/javascript">document.getElementById('id_album').focus();</script>

    </form>
</div>
{% endblock %}